$('#component_properties_form')[0].reset();
$('.panel_component_properties').css('display', 'none');

var component_item = $('.panel_components').find('.component-row[data-source_id=#{@old_component_id}]')
component_item.attr('data-source_id', '#{@component.get_source_id}')
component_item.attr('data-name', '#{@component.get_source_name}')
component_item.find('.name').html('#{@component.get_source_name}')

alert(" '#{I18n.t('update_page_properties.success')}' ");
