$(".panel_editor").html("#{ escape_javascript(render(:partial =>  "panel_editor", :locals => {:source => @source})) }");
window.editorManager = new CodeEditorsManager();
var editorManager = window.editorManager;
editorManager.removeEditors()
editorManager.setRequestPath
editorManager.addEditor("haml_editor", new CodeEditorIDE("haml_editor"));
editorManager.addEditor("css_editor", new CodeEditorIDE("css_editor"));
editorManager.getEditor("haml_editor").code_editor.setOption("mode", "stex");
editorManager.getEditor("css_editor").code_editor.setOption("mode", "css");
editorManager.getEditor("haml_editor").code_editor.clearHistory();
editorManager.getEditor("css_editor").code_editor.clearHistory();

$(".layout-row").removeClass("layout-row-selected");

editorManager.getEditor("haml_editor").setRequestPath("/source_manager/");
editorManager.getEditor("haml_editor").getRequestSource("#{@source.get_id}");
editorManager.getEditor("haml_editor").setSourceId("#{@source.get_id}");
$(".preview-navtab a").attr("data-preview", "#{@source.get_name}");
- @css = @source.get_attach_or_create
css_id = $(this).data("#{@css.get_id}");
editorManager.getEditor("css_editor").setRequestPath("/source_manager/");
editorManager.getEditor("css_editor").getRequestSource("#{@css.get_id}");
editorManager.getEditor("css_editor").setSourceId("#{@css.get_id}");
$(".editor-panel").show();
setTimeout("editorManager.getEditor('css_editor').code_editor.refresh();", 100);

$(".save-haml-btn").bind("click", function(){
editorManager.getEditor("haml_editor").saveSource();
});
$(".save-css-btn").bind("click", function(){
editorManager.getEditor("css_editor").saveSource();
});

$(".preview-navtab").bind("click", function(){
$("#tab3").html( "<iframe style='width:100%; height: 100%;' src='/#{@source.get_name}'>" );
});
//    $(this).parents(".layout-row").addClass "layout-row-selected"
//    $(".menu-bar").addClass "menu-bar-inactive"
//#    source_id = $(this).data("source_id")
//#    source_name = $(this).data("source_name")
//   $(".editor-panel .title").html source_name
//#    editorManager.getEditor("haml_editor").setRequestPath "/source_manager/"
//#    editorManager.getEditor("haml_editor").getRequestSource source_id
//#    editorManager.getEditor("haml_editor").setSourceId source_id
//#    $(".preview-navtab a").attr "data-preview", source_name
//#    css_id = $(this).data("css_id")
//#    editorManager.getEditor("css_editor").setRequestPath "/source_manager/"
//#    editorManager.getEditor("css_editor").getRequestSource css_id
//#    editorManager.getEditor("css_editor").setSourceId css_id
