activity = '#{@activity}'
object = '#{@object}'

var panel_to_show = '.panel_' + object;
var panel_content = panel_to_show + ' .content';
$(panel_content).html("");

/Tool bar actions
- case @activity
  - when 'load'
    - case @object
      - when 'structure'
        $(panel_content).html("#{ escape_javascript(render(:partial => 'layout', :collection => @layouts)) }");
      - when 'content'
        $(panel_content).html("#{ escape_javascript(render(:partial => 'content')) }");
      - when 'gallery'
        $(panel_content).html("#{ escape_javascript(render(:partial => 'images')) }");
      - when 'panel_viewer'
        $('.panel_viewer').show();
        $('.panel_viewer').html("<iframe style='width:100%; height: 100%;' src='/green'></iframe>");
      - else
        $(panel_content).html("<br>&nbsp;&nbsp;..nothing to show yet");

