object = $("div[id='#{@old_id}']");
-image_size = @sourceObject.get_image_size[0].to_s + 'x' + @sourceObject.get_image_size[1].to_s
-image_info = @sourceObject.name + '.' + @sourceObject.extension + ' ' + image_size

object.attr('id', '#{@sourceObject.get_id}');
object.find('.delete_image').attr('data-image-name', '#{@sourceObject.name}');
object.find('.gallery-image > img').attr('src', '#{@sourceObject.get_image_path}');

object.find('div[data-info]').attr('data-info', '#{@sourceObject.name}');
object.find('div[data-info]').html('#{truncate(image_info, :length => 22, :omission => "...")}'+'<div class="edit_name", onclick="rename_image(this)"></div>');

