- seo_need = source.type == Cms::SourceType::LAYOUT

- object_class = source.type.to_s
- object_css_class = Cms::SourceType::CSS.to_s
- object_css_id = source.get_attach_or_create.get_id

- if seo_need
  - object_seo_class = Cms::SourceType::SEO.to_s
  - object_seo_id = source.get_attach_or_create(Cms::SourceType::SEO).get_id

- collapse_id_name =  "collapse_#{source.get_id.to_s}"
- collapse_id =  "#" + collapse_id_name

- haml_id_name = "haml_#{source.get_id.to_s}"
- haml_id = "#" + haml_id_name

-#######################################
-# OPTIMIZED: FROM THIS:
-# css_id_name = source.get_attach.get_id
-# TO THIS:
- css_id_name = Cms::ID_PREFIX + Cms::SourceType::CSS.to_s + Cms::ID_DIVIDER + source.type.to_s + Cms::TARGET_DIVIDER + source.get_name
-#######################################
- css_id = "#" + css_id_name
- textarea_id = source.get_id.to_s
-# css_textarea_id = source.get_attach.get_id
- css_textarea_id = css_id_name
-################ NEW:
- if seo_need
  - seo_id_name = Cms::ID_PREFIX + Cms::SourceType::SEO.to_s + Cms::ID_DIVIDER + source.type.to_s + Cms::TARGET_DIVIDER + source.get_name
  - seo_id = "#" + css_id_name
  - seo_textarea_id = seo_id_name

.accordion-group{ :id => "accordion_group_#{source.get_id}", :style=>"border: 1px solid darkgray;" }
  .accordion-heading
    %a.accordion-toggle.collapsed.unloaded{ "data-parent" => parent, "data-toggle" => "collapse", :href => collapse_id }
      = source.name

  %div.accordion-body.collapse.in{:id => collapse_id_name}
    .accordion-inner{:style => "background: white"}
      %ul.nav.nav-tabs.editor_tab
        %li.active
          %a{:href => haml_id } HAML
      .tab-content
        .tab-pane.active{:id => haml_id_name }
          %textarea.haml{:id => textarea_id, "data-source_id" => source.get_id, "data-source_type" => source.type.to_s, "data-source_name" => source.name, "data-source_url" => source.name }
        %br
        %div
          .btn.btn-success.save-source{ "data-type" => object_class, "data-id" => source.get_id, :onclick => "saveSource(this)"}
            Save
          %div.fright{:onclick => "deleteSource('#{source.type.to_s}', '#{source.get_id}', '#{source.name}')"}
            .delete-source.btn.btn-danger{ "data-type" => object_class, 'data-id' => source.get_id }
              Delete
          %br
          %br
      %br
      %ul.nav.nav-tabs.editor_tab
        %li.active
          %a{:href => css_id } CSS
      .tab-pane.active{ :id => css_id_name }
        %textarea.css{:id => css_textarea_id, "data-source_id" => object_css_id, "data-source_type" => object_css_class}
      %br
      %div
        .btn.btn-success.save-source{ "data-type" => object_css_class, "data-id" => object_css_id, :onclick => "saveSource(this)"}
          Save
        %div.fright{:onclick => "deleteSource('#{object_css_class}', '#{object_css_id}', '')"}
          .delete-source.btn.btn-danger{ "data-type" => object_css_class, 'data-id' => object_css_id }
            Delete
          %br
          %br
      %br
      - if seo_need
        %ul.nav.nav-tabs.editor_tab
          %li.active
            %a{:href => seo_id } SEO
        .tab-pane.active{ :id => seo_id_name }
          %textarea.seo{:id => seo_textarea_id, "data-source_id" => object_seo_id, "data-source_type" => object_seo_class}
        %br
        %div
          .btn.btn-success.save-source{ "data-type" => object_seo_class, "data-id" => object_seo_id, :onclick => "saveSource(this)"}
            Save
          %div.fright{:onclick => "deleteSource('#{object_seo_class}', '#{object_seo_id}', '')"}
            .delete-source.btn.btn-danger{ "data-type" => object_seo_class, 'data-id' => object_seo_id }
              Delete
            %br
            %br