/ Layout:
#layout_popup.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Create new layout
  .modal-body
    %form
      %fieldset
        %label Layout name
        %input.name{:placeholder => "Input layout name…", :type => "text", :tabindex => 1}

        %label Layout url
        %input.url{:placeholder => "Input layout url…", :type => "text"}
        %br
        %button.btn.btn-primary.add-source{:type => "submit", "data-type" => Cms::SourceType::LAYOUT, :tabindex => 2} Create
  .modal-footer
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Cancel


/ Content
#content_popup.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Create new content
  .modal-body
    %form
      %fieldset
        %label Content name
        %input.name{:placeholder => "Input content name…", :type => "text", :tabindex => 1}
        %br
        %button.btn.btn-primary.add-source{:type => "submit", "data-type" => Cms::SourceType::CONTENT, :tabindex => 2} Create
  .modal-footer
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Cancel

/ Images Gallery
#gallery_popup.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :style => "width: 800px"}
  %input#target_image{:type => 'hidden'}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3
      Image gallery
      .btn-group{:style => "padding-left: 420px"}
        %a.btn.btn-info{:href => "#"}
          %i.icon-th-large.icon-white
          Icon View
        %a.btn.btn-info.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          %span.caret
        %ul.dropdown-menu{:style => "margin-left: 420px"}
          %li
            %a{:href => "#", :onclick => "gallery_toggle_list_view()"}
              %i.icon-list
              List View
          %li
            %a{:href => "#", :onclick => "gallery_toggle_compact_view()"}
              %i.icon-th
              Compact View
  .modal-body
    .gallery-content{:style => "margin: 30px 10px;"}
      - images.each do |img|
        - next if File.directory?(img.get_source_filepath)
        .img-box{"data-name" => img.get_source_name, "data-id" => img.get_source_id}
          .delete-image{:id => "#{img.get_source_id}", :onclick => "delete_image(this)"}
          - image_width = img.get_image_size[0]
          - image_height = img.get_image_size[1]
          - image_name = img.get_source_name
          .img-container
            %img.box{:src => "#{img.get_image_path}", :id => "#{img.get_source_id}", :class=> "#{'gallery-image' if aloha}", 'data-width' => image_width, 'data-height' => image_height, 'data-name' => image_name}
          .tagname-description
            Multimedia tag name:
          %input.image-name{:type => "text", :value => "#{img.get_source_name}", :onkeyup => "on_gallery_name_keyup(event, this)", 'data-source-name' => "#{img.get_source_name}"}
          %br
          .imgsize
            .imgsize-description
              Image size (width, height):
            = "#{image_width}x#{image_height}"

  = javascript_tag do
    window.uploadify_asset_path =  "#{ asset_path("uploadify.swf") }";
  .modal-footer
    .browse-button.fleft{:style=>"position: relative;"}
      %input{:type => "file", :id => "file_upload", :name => "file_upload"}
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close