$(".panel_editor").html("#{ escape_javascript(render(:partial =>  "cms/source_code/panel_editor", :locals => {:source => @source})) }");
$(".panel_editor").removeClass('subPanelOffset');
- if @source.target != nil
  $(".panel_editor").addClass('subPanelOffset')

var haml_id = "#{@source.get_source_id}";
var head_id = "#{@source.get_source_attach_or_create(Cms::SourceType::HEAD).get_source_id}";
var css_id = "#{@source.get_source_attach_or_create(Cms::SourceType::CSS).get_source_id}";
InitializeEditors(['haml_editor', 'head_editor', 'css_editor'], [haml_id, head_id, css_id], ['stex', 'clojure', 'css'])

$(".panel_editor .title").html("#{@source.get_source_name}");
$(".panel_editor").slideRightShow();
$(".layout-row").removeClass("layout-row-selected");
$('.layout-row[data-source_id=' + haml_id + ']').addClass('layout-row-selected')

:plain

  $(".save-haml-btn").bind("click", function() {
    editorManager.getEditor("haml_editor").saveSource();
    editorManager.getEditor("head_editor").saveSource();
    $(this).removeClass('source-modified')
  });
  $(".save-css-btn").bind("click", function(){
    editorManager.getEditor("css_editor").saveSource();
    $(this).removeClass('source-modified')
  });