- cms_settings = Cms::Source.get_cms_settings_attributes
- admin_locale_name = cms_settings.admin_locale_name.downcase

.toolbar
  .icon.icon-main{'data-tooltip' => 'Главная', 'data-icon' => 'main', :class=>"#{admin_locale_name}"}
  .icon.icon-structure{'data-tooltip' => 'Структура', 'data-icon' => 'structure', :class=>"#{admin_locale_name}"}
  .icon.icon-content{'data-tooltip' => 'Содержание', 'data-icon' => 'content', :class=>"#{admin_locale_name}"}
  .icon.icon-components{'data-tooltip' => 'Компоненты', 'data-icon' => 'components', :class=>"#{admin_locale_name}"}
  .icon.icon-gallery{'data-tooltip' => 'Галлерея', 'data-icon' => 'gallery', :class=>"#{admin_locale_name}"}
  .icon.icon-settings{'data-tooltip' => 'Настройки', 'data-icon' => 'settings', :class=>"#{admin_locale_name}"}
  .icon.icon-exit{'data-tooltip' => 'Выход', 'data-icon' => 'exit', :class=>"#{admin_locale_name}"}

-#----------------------------------------
.panel.panel_main
  .header
    .rect
    .title
      = I18n.t('panels.main.title')
    .line
  .content
-#----------------------------------------
.panel.panel_child_structure.inactive{:data_name => 'panel_structure', :data_menu => 'structure', :data_parent => ''}
  .header
    .rect
    .title
      .name
      %a.add-structure.child-window{"data-toggle" => "tooltip", :href => "#", :title => "add structure", :data_name => 'add-structure', :data_menu => 'structure'}
    .line
  .content
-#----------------------------------------
.panel.panel_structure.scrollable{:data_name => 'panel_structure', :data_menu => 'structure'}
  .header
    %i.close-child
    .rect
    .title
      = I18n.t('panels.structure.title')
      %a.add-structure{"data-toggle" => "tooltip", :href => "#", :title => "add structure", :data_name => 'add-structure', :data_menu => 'structure'}
    .line
  .content
-#----------------------------------------
.panel.panel_content
  .content
.panel.panel_components.scrollable
  .header
    .rect
    .title
      = I18n.t('panels.components.title')
      %a.add-component{'data-toggle' => 'tooltip', :href => '#', :title => 'add component', :data_name => 'add-component', :data_menu => 'component'}
    .line
  .content
-#----------------------------------------
.panel.panel_viewer{'data-level' => 'child'}
-#----------------------------------------
.panel.panel_gallery
  .header
    .rect
    .title
      = I18n.t('panels.gallery.title')
      .navigation_panel
        #help_icon
        #load_to_gallery{'data-toggle'=> 'dropdown'}
        %form{:id => "load_image", :action => "gallery/upload", :method => "post", :enctype => "multipart/form-data"}
          %input{:id => "to_dir", :type => "hidden", :name => "to_dir"}
          %input{:type => 'file', :id => "image_src", :name => "Filedata"}
          %button{:type => "submit"}
        .dropdown-menu.preferences
          %li.add_folder
            .preferences-rect
            %img{:src => "/assets/ui/icons/folder.png", :style => "padding-right: 18px; width: 20px;"}
            = I18n.t('panels.gallery.create_folder')
          %li.add_image
            %img{:src => "/assets/ui/icons/list.png", :style => "padding-right: 18px; width: 20px;"}
            = I18n.t('panels.gallery.add_image')
  #gallery{"data-selector" => ".gallery-image", "data-target" => "#modal-gallery", "data-toggle" => "modal-gallery"}
    .current_gallery_path{:type => 'hidden'}
    .content
-#----------------------------------------
.panel.panel_settings
  .header
    .rect
    .title
      = I18n.t('panels.settings.title')
    .line
  .content
-#----------------------------------------
.panel.panel_properties{'data-level' => 'child', :data_name => 'panel_properties', :data_menu => 'structure'}
  .rect
  .title
    = I18n.t('panels.page_properties.update_title')
  .line
  = form_tag url_for( :controller => "source_manager", :action => "update_page_properties", :method => "post" ), :id => "properties_form", :style => 'padding: 10px;', :remote => true do
    %fieldset
      %input{:type => "hidden", :name => "id"}
      %label= I18n.t('panels.page_properties.name_title')
      %input.url{:placeholder => "Input layout url…", :type => "text", :name => "name"}
      %br
      %label.checkbox
        %input{:id => "no_show", :type => "checkbox", :name => "no_show",}
        = I18n.t('panels.page_properties.not_show_in_menu')
      %label.checkbox
        %input{:id => "no_publish", :type => "checkbox", :name => "no_publish"}
        = I18n.t('panels.page_properties.not_publish')
      #accordion.seoblock
        .accordion-group
          .accordion-heading
            %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
              %i.rotable-icon.icon-info-sign
              = I18n.t('panels.page_properties.seo_settings')
          -##collapseOne.accordion-body.collapse.in{:style => "height: 100px;"}
          .in{:style => "height: auto;"}
            .accordion-inner

              %label= I18n.t('panels.page_properties.seo_title')
              %input.layout-title{:placeholder => "#{I18n.t('panels.page_properties.seo_title_placeholder')}", :type => "text", :tabindex => 1, :name => "title"}

              %label= I18n.t('panels.page_properties.seo_keywords')
              %input.keywords{:placeholder => "#{I18n.t('panels.page_properties.seo_keywords_placeholder')}", :type => "text", :tabindex => 1, :name => "keywords"}

              %label= I18n.t('panels.page_properties.seo_description')
              %input.description{:placeholder => "#{I18n.t('panels.page_properties.seo_description_placeholder')}", :type => "text", :name => "description"}
      %div
        %button.btn.btn-primary.save-source{:type => "submit", "data-type" => Cms::SourceType::LAYOUT, :tabindex => 2}= I18n.t('ui.save')
        .close-btn.btn.btn-primary= I18n.t('ui.cancel')
-#----------------------------------------
.panel.panel_new-page{'data-level' => 'child'}
  .title
    = I18n.t('panels.page_properties.create_title')
  .line
  = form_tag url_for( :controller => "source_manager", :action => "create" ), :id => "new_structure_form", :remote => true do
    %fieldset
      %input{:type => "hidden", :name => "parent_layout", :value => '', :id => "parent_layout"}

      %label= I18n.t('panels.page_properties.name_title')

      %input.url{:placeholder => "#{I18n.t('panels.page_properties.name_placeholder')}", :autocomplete => "off", :type => "text", :tabindex => 2, :name => "name"}
      %br
      %label.checkbox
        %input{:type => "checkbox", :name => "display", :tabindex => 3}
        = I18n.t('panels.page_properties.not_show_in_menu')
      %label.checkbox
        %input{:type => "checkbox", :name => "publish", :tabindex => 4}
        = I18n.t('panels.page_properties.not_publish')
      #accordion2.seoblock{:tabindex => 5}
        .accordion-group
          .accordion-heading
            %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseOne2"}
              %i.rotable-icon.icon-info-sign
              = I18n.t('panels.page_properties.seo_settings')
          -##collapseOne2.accordion-body.collapse
          .in{:style => "height: auto;"}
            .accordion-inner
              %label= I18n.t('panels.page_properties.seo_title')
              %input.name{:placeholder => "#{I18n.t('panels.page_properties.seo_title_placeholder')}", :autocomplete => "off", :type => "text", :tabindex => 1, :name => "title"}

              %label= I18n.t('panels.page_properties.seo_keywords')
              %input.name{:placeholder => "#{I18n.t('panels.page_properties.seo_keywords_placeholder')}", :autocomplete => "off", :type => "text", :tabindex => 7, :name => "keywords"}

              %label= I18n.t('panels.page_properties.seo_description')
              %input.url{:placeholder => "#{I18n.t('panels.page_properties.seo_description_placeholder')}", :autocomplete => "off", :tabindex => 8, :type => "text", :name => "description"}
      %div
        = submit_tag "#{I18n.t('ui.save')}", :class => 'btn btn-primary'
        .close-btn.btn.btn-primary= I18n.t('ui.cancel')
-#----------------------------------------
.panel.panel_new-component{'data-level' => 'child'}
  .title
    = I18n.t('create_component_form.title')
  .line
  = form_tag url_for( :controller => 'source_manager', :action => 'create_component', :method => 'POST'), :id => "component_form", :remote => true do
    %label= I18n.t('create_component_form.name_title')
    %input.url{:placeholder => "#{I18n.t('create_component_form.name_placeholder')}", :type => "text", :name => "name"}
    %br
    %div
      = submit_tag "#{I18n.t('ui.save')}", :class => 'btn btn-primary'
      .close-btn.btn.btn-primary= I18n.t('ui.cancel')
-#----------------------------------------
.panel.panel_component_properties{'data-level' => 'child'}
  .rect
  .title
    Свойства компонента
  .line
  = form_tag url_for( :controller => "source_manager", :action => "save_component", :method => "post" ), :id => "component_properties_form", :style => 'padding: 10px;', :remote => true do
    %input{:type => "hidden", :name => "id"}
    %label Имя компонента
    %input{:type => "text", :name => "name", :autocomplete => "off"}
    %br
    %div
      %button.btn.btn-primary.save-source{:type => "submit"} =I18n.t('ui.save')
      .close-btn.btn.btn-primary =I18n.t('ui.cancel')
-#----------------------------------------
= render "modal_gallery"
-#----------------------------------------
.panel_editor{'data-level' => 'child'}
-#----------------------------------------