activity = '#{@activity}'
object = '#{@object}'

var panel_to_show = '.panel_' + object;
var panel_content = panel_to_show + ' .content';
$(panel_content).html("");

/Tool bar actions
- case @activity
  - when 'load'
    - case @object
      - when 'structure'
        $(panel_content).html("#{ escape_javascript(render(:partial => 'layouts', :locals => {items: @layouts, list_id: nil} )) }");
      - when 'content'
        $(panel_content).html("#{ escape_javascript(render(:partial => 'content')) }");
      - when 'components'
        $(panel_content).html("#{ escape_javascript(render(:partial => 'components', :locals => {items: @components} )) }");
      - when 'settings'
        $(panel_content).html("#{ escape_javascript(render(:partial => 'settings', :locals => {items: @layouts, default: @default_layout} )) }");

      - when 'gallery'
        - @breadcrumb = @sources['breadcrumbs']
        - @folders = @sources['folders']
        - @images = @sources['images']
        $('.current_gallery_path').val("#{@breadcrumb}");
        $(panel_content).html(
        "#{ escape_javascript(render(:partial => '/cms/gallery/folder', :object => @folders)) }" +
        "#{ escape_javascript(render(:partial => '/cms/gallery/image', :object => @images)) }"
        );
      - else
        $(panel_content).html("<br>&nbsp;&nbsp;..nothing to show yet");

