activity = '#{@activity}'
object = '#{@object}'

var panel_to_show = '.panel_' + object;
var panel_content = panel_to_show + ' .content';
$(panel_content).html("");

/Tool bar actions
- case @activity
  - when 'load'
    - case @object
      - when 'structure'
        $(panel_content).html("#{ escape_javascript(render(:partial => 'layouts', :locals => {items: @layouts} )) }");
      - when 'content'
        $(panel_content).html("#{ escape_javascript(render(:partial => 'content')) }");
      - when 'components'
        $(panel_content).html("#{ escape_javascript(render(:partial => 'component', :collection => @components)) }");
      - when 'gallery'
        - @breadcrumb = @sources['breadcrumbs']
        - @folders = @sources['folders']
        - @images = @sources['images']
        $(panel_content).html(
        "#{ escape_javascript(render(:partial => 'breadcrumb', :object => @breadcrumb)) }" +
        "#{ escape_javascript(render(:partial => 'folder', :collection => @folders)) }" +
        "#{ escape_javascript(render(:partial => 'image', :collection => @images)) }"
        );
      - else
        $(panel_content).html("<br>&nbsp;&nbsp;..nothing to show yet");

