
- case @object
  - when 'delete_folder'
    obj = $('.gallery-folder[data-path="#{@path}"][data-name="#{@name}"]');
    obj.fadeOut();
  - when 'add_folder'
    $('.panel_gallery .content').prepend("#{ escape_javascript(render(:partial => 'gallery_folder', :dir => @dir)) }");
  - when 'rename_folder'
    obj = $(".gallery-folder[data-path=\"#{File.dirname(@new_filepath)+'/'}\"][data-name=\"#{@old_name}\"]");
    $(obj).attr('data-name', "#{File.basename(@new_filepath)}");
    desc = "#{truncate(File.basename(@new_filepath), :length => 22, :omission => '...')}" + '<div class="edit_name" onclick="editFolderName(this)"></div>'
    $(obj).find('.folder_description').html(desc);


