- case @object
  - when 'edit_properties'
    $('#properties_form').find('[name="id"]').val('#{@layout.get_id}');
    $('#properties_form').find('.name').val('#{}');
    $('#properties_form').find('.url').val('#{@layout.get_source_name}');
    $('#properties_form').find('.keywords').val('#{@settings.keywords}');
    $('#properties_form').find('.description').val('#{@settings.description}');
    - if @settings.publish == '1'
      document.getElementById("no_publish").checked = true;
    - else
      document.getElementById("no_publish").checked = false;
    - if @settings.display == '1'
      document.getElementById("no_show").checked = true;
    - else
      document.getElementById("no_show").checked = false;
    $('[data-level=child]').hide();
    $('.panel_properties').css('-webkit-transform','translate3d(' + $(window).width() + 'px, 0, 0)');
    $('.panel_properties').show();
    setTimeout(function(){$('.panel_properties').css('-webkit-transform','translate3d(0, 0, 0)');;},250);
  - when 'edit_component'
    $('#component_properties_form').find('[name="id"]').val('#{@component.get_id}');
    $('#component_properties_form').find('[name="name"]').val('#{@component.name}');
    $('[data-level=child]').hide();
    $('.panel_component_properties').css('-webkit-transform','translate3d(' + $(window).width() + 'px, 0, 0)');
    $('.panel_component_properties').show();
    setTimeout(function(){$('.panel_component_properties').css('-webkit-transform','translate3d(0, 0, 0)');;},250);



    @layout.get_source_name