.gallery-folder{ 'data-path' => "#{@dir.path}" + "/", 'data-name' => "#{@dir.name}"}
  .delete_image{:onclick => "deleteFolder(this)"}
    x
  .count-source
    = @dir.size
  %input{:onfocusout => "rename_folder_finish(this)", :onkeypress => "renameFolderOnEnterKey(this)"}
  .dir{:onclick => 'open_folder(this)'}
  .image_description{ :data => {'info' => "#{@dir.name}"}}
    #{truncate(@dir.name, :length => 22, :omission => '...')}
    .edit_name{:onclick => "rename_folder(this)"}
    -#.edit_name