- images_path = Cms::SOURCE_FOLDERS[Cms::SourceType::IMAGE]

- @images.each do |image|
  - image_size = image.get_image_size[0].to_s + 'x' + image.get_image_size[1].to_s
  - image_info = image.get_source_name + ' ' + image_size

  -# image_src = image.get_source_filepath.gsub(images_path, '/assets')
  - image_src = image.get_source_filepath.gsub('public/', '')

  .image.atom{:id => image.get_source_id, :title => "#{image.get_source_name}", 'data-name' => "#{image.get_source_name}", 'data-path' => "#{image.get_source_filepath}"}
    .delete_image{:onclick => "deleteImage(this)"}
      x
    %input{:onfocusout => "renameImage(this)", :onkeypress => "renameImageOnEnterKey(this)"}
    .gallery-image{"data-href" => "#{image_src}"}
      %img{:src => "#{image_src}"}
    .image_description{ "data-info"  => "#{image_info}"}
      #{truncate(image_info, :length => 22, :omission => '...')}
      .edit_name{:onclick => "editImageName(this)"}

:javascript
  $('.image').draggable({
    revert: true,
    cursor: "move",
    start: function(event, ui) {$(ui.helper).css('z-index', '10000')},
    stop: function(event, ui) {$(ui.helper).css('z-index', '1')},
  });